<%- include('adminNav') %>

<div class="container container-add-products">
    <div class="add-products">
        <form action="/admin/editproduct/<%= product.id %>" method="post" enctype="multipart/form-data" id="edit-product-form">
            <div class="row d-flex justify-content-center align-content-center ">
                <div class="col-6">
                    <label class="form-label " for="productName">Product Name</label>
                    <input class="form-control form-input " type="text" name="productName" id="productName" value="<%= product.productName %>" disabled  required>


                    <label class="form-label " for="productPrice">Price</label>
                    <input class="form-control form-input" type="text" name="productPrice" id="productPrice" value="<%= product.productPrice %>" required>


                    <div>
                    
                    <label class="form-label " for="productCollection">Collection</label>
                    <select name="productCollection" id="productCollection" class="form-control form-input" disabled required>
                        <option value="" selected disabled><%= product.productCollection %></option>
                    </select>
                    </div>


                    <label class="form-label " for="productQuantity">Stock</label>
                    <input class="form-control form-input" type="text" name="productQuantity" id="productQuantity" value="<%= product.productQuantity %>" required>
                    
                </div>

                <div class="col-6">
                    <label for="productDescription" class="form-label">Description</label>
                    <textarea class="form-control form-input" name="productDescription" id="productDescription" required><%= product.productDescription %></textarea>
                </div>

                <div class="d-flex justify-content-center mt-3  ">
                    <input type="file" name="image" id="image-upload" accept="image/png, image/jpeg" multiple class="d-none">
                    <label for="image-upload" class="btn submit-btn">ChooseImages</label>
                </div>

                <div class="image-upload-preview" id="image-upload-preview">
                    <% product.productImage.forEach((img)=>{ %>
                        <div class="product-image-box">
                            <img src="../../<%=img %>" alt="" class="preview-img ">
                        </div>
                   <% }) %>
                </div>
            </div>

        </form>
    </div>

    <div class="text-center mt-3">
        <a href="/admin/products" class="btn submit-btn-light">Cancel</a>
        <button type="submit" class="btn submit-btn" name="" form="edit-product-form" id="submit-form" >Add Product</button>
    </div>

</div>



<%- include('adminFooter') %>