<%- include('adminNav') %>

<style>

</style>

<div class="container container-add-products">
    <div class="add-products">
        <form action="/admin/editproduct/<%= product.id %>" method="post" enctype="multipart/form-data" id="edit-product-form">
            <div class="row d-flex justify-content-center align-content-center ">
                <div class="col-6">
                    <label class="form-label " for="productName">Product Name</label>
                    <input class="form-control form-input " type="text" name="productName" id="productName" value="<%= product.productName %>" disabled  required>


                    <label class="form-label " for="productPrice">Price</label>
                    <input class="form-control form-input" type="text" name="productPrice" id="productPrice" value="<%= product.productPrice %>" required>


                    <div>
                    
                    <label class="form-label " for="productCollection">Collection</label>
                    <select name="productCollection" id="productCollection" class="form-control form-input" disabled required>
                        <option value="" selected disabled><%= product.productCollection %></option>
                    </select>
                    </div>


                    <label class="form-label " for="productQuantity">Stock</label>
                    <input class="form-control form-input" type="text" name="productQuantity" id="productQuantity" value="<%= product.productQuantity %>" required>
                    
                </div>

                <div class="col-6">
                    <label for="productDescription" class="form-label">Description</label>
                    <textarea class="form-control form-input" name="productDescription" id="productDescription" required><%= product.productDescription %></textarea>
                </div>

                <div class="mb-5"></div>

                <a class="btn submit-btn w-25" onclick="addImage()">Add Images</a>

                <div class="add-input" id="add-input"></div>

                <div class="image-upload-preview" id="image-upload-preview">
                    <% product.productImage.forEach((img)=>{ %>
                        <div class="product-image-box d-flex flex-column" data-image-path="<%= img %>">
                            <img src="../../<%=img %>" alt="" class="preview-img ">
                            <a class="btn submit-btn" onclick="deleteImage(`<%=img.replace(/\\/g, '\\\\')%>`)">Delete</a>
                        </div>
                   <% }) %>
                </div>
            </div>

            <input type="hidden" id="deletedImages" name="deletedImages">

        </form>
    </div>

    <div class="text-center mt-3">
        <a href="/admin/products" class="btn submit-btn-light">Cancel</a>
        <button type="submit" class="btn submit-btn" name="" form="edit-product-form" id="submit-form" >Edit Product</button>
    </div>

</div>

<script>


    function addImage(){
        const inputDiv = document.getElementById('add-input')
        const newInput = document.createElement('input')
        newInput.type = 'file'
        newInput.name = 'image'
        newInput.style.display = 'none';

        

        newInput.addEventListener('change', (event) => {
       if (event.target.files && event.target.files[0]) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const previewDiv = document.getElementById('image-upload-preview');
          const imageBox = document.createElement('div');
          imageBox.className = 'product-image-box d-flex flex-column';
          imageBox.innerHTML = `<img src="${e.target.result}" alt="" class="preview-img">`;

          let deleteImage = document.createElement('delete-image')
            deleteImage.textContent = 'Delete'
            deleteImage.classList.add('btn','submit-btn')
            deleteImage.addEventListener('click',(e)=>{
            imageBox.remove();
            newInput.remove();
    })

          imageBox.appendChild(deleteImage)
          previewDiv.appendChild(imageBox);
        };
        reader.readAsDataURL(event.target.files[0]);
      }
    });

    inputDiv.appendChild(newInput);
    newInput.click();

    }

    //empty array for images to be deleted
    let deletedImages = []

    //onclick function to add delete image path 
    function deleteImage(imagePath) {
    deletedImages.push(imagePath);
    document.getElementById('deletedImages').value = JSON.stringify(deletedImages);
    
    //remove the image box preview for image path
    const imageBox = document.querySelector(`div[data-image-path="${imagePath.replace(/\\/g, '\\\\')}"]`);
    if (imageBox) {
      imageBox.remove();
    }
  }


  


</script>



<%- include('adminFooter') %>