<%- include('nav') %>


<style>

.card-title {
    font-size: 1.25rem;
}

.quantity-counter {
    max-width: 100px;
}

.quantity-counter input {
    width: 45px;
}

.btn-link {
    text-decoration: none;
    color: #6c757d;
    font-size: 1rem;
    padding: 0;
}

.btn-link:hover {
    text-decoration: underline;
}

.cart-img{
    height: 200px;
    width: 200px;
}


</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">

            <% let subTotal = 0
            if(cart && cart.products.length > 0){  %>
                <% cart.products.forEach(product => { 
                    
                    subTotal += product.price * product.quantity
                    %>


            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../<%= product.productId.productImage[0]%>" class="cart-img img-fluid rounded-start" alt="Product Image">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="card-title"><%= product.productId.productName %></h5>
                                    <% if(product.discount) {%>
                                        <span class="d-flex gap-1">
                                            <p class="mb-0 text-danger"><i class="bi bi-currency-rupee"></i><strong class="text-decoration-line-through"><%= product.productId.productPrice %></strong></p>
                                            <p class="mb-0"><i class="bi bi-currency-rupee"></i><strong><%= product.discountMrp %></strong></p>
                                        </span>
                                        <span>
                                            <p class="mb-0 text-danger">-<strong><%= product.discount %>%OFF</strong></p>                            
                                        </span>
                                    <% }else{ %>
                                        <span class="d-flex gap-1">
                                            <p class="mb-0"><i class="bi bi-currency-rupee"></i><strong><%= product.productId.productPrice %></strong></p>
                                            <!-- <p class="mb-0"><i class="bi bi-currency-rupee"></i><strong><%= product.discountMrp %></strong></p> -->
                                        </span>
                                        
                                        <% } %>
                                </div>
                                <div class="input-group quantity-counter">
                                    <button class="btn btn-outline-secondary btn-sm"  onclick="decrement(`<%= product.productId._id %>`)" >-</button>
                                    <input type="text" class="form-control text-center" id="quantity" value="<%= product.quantity%>" readonly>
                                    <button class="btn btn-outline-secondary btn-sm" onclick="increment(`<%= product.productId._id %>`)">+</button>
                                </div>
                                <div>
                                    <% if(product.discount) { %>
                                        <p class="mb-0"><strong><i class="bi bi-currency-rupee"></i><%= (product.discountMrp * product.quantity).toFixed(2) %></strong></p>
                                    <% } else {%>
                                        <p class="mb-0"><strong><i class="bi bi-currency-rupee"></i><%= (product.price * product.quantity).toFixed(2) %></strong></p>
                                    <% } %>    
                                </div>
                    
                                <button class="btn btn-outline-danger btn-sm me-2" onclick="removeFromCart(`<%= product.productId._id %>`)" ><i class="bi bi-trash3"></i></button>
                            </div>
                            <div class="mt-2">
                                <% if(product.productId.productQuantity === 0){ %>
                                    <!-- <div class="text-danger text-center" >Out of stock</div> -->
                                    <div class="text-danger text-center">Out of Stock</div>
                                <% }else if(product.productId.productQuantity <= 5 ) { %>
                                    <div class="text-danger text-center" >Only <%= product.productId.productQuantity %> left</div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
            <% } else { %>
                <div class="container mb-5 ">
                    <div class="card d-flex flex-column align-items-center p-3">
                        <div class="image">
                            <img src="../../public/assets/empty-cart.jpg" width="300" height="300"  alt="Empty Cart">
                        </div>
                        <h2>Your Cart is Empty</h2>
                        <p>Add new products to your cart</p>
                        <a href="/user/home" class="btn submit-btn" >Go home</a>
                    </div>
                </div>
                <% } %>

        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Summary #MN0124</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Sub Total
                            <span><i class="bi bi-currency-rupee"></i><%= cart? subTotal.toFixed(2): 0.00 %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Discount
                            <span class="text-danger">-<i class="bi bi-currency-rupee"></i><%= cart? (subTotal-cart.totalPrice).toFixed(2) : 0.00 %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Shipping Charge
                            <span class="text-success">+<i class="bi bi-currency-rupee"></i><%= cart? cart.shippingCharge : 0.00 %></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Total</strong>
                            <strong><i class="bi bi-currency-rupee"></i><%= cart? cart.totalPrice.toFixed(2): 0.00 %></strong>
                        </li>
                    </ul>
                </div>

                </div>
            <div class="d-flex justify-content-between my-3">
                <a href="/user/home" class="btn ">← Continue Shopping</a>
                <a href="/user/checkout" class="btn submit-btn-light">Checkout</a>
            </div>
                </div>
    </div>
</div>

<script>


    async function increment(productId){

        

        console.log(productId)

        try {

            const res = await fetch('/user/cart/increment',{
                method: 'POST',
                headers : {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify({productId})
            })

            if(res.ok){


                window.location.href = '/user/cart'
            }else{
                const error = await res.text();

                showError(error)
            }
            
            
        } catch (error) {
            console.log(`error from increment in cart ${error}`)
        }

    }

    async function decrement(productId){

        try {

            const res = await fetch('/user/cart/decrement',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({productId})
            })

            if(res.ok){
                window.location.href = '/user/cart'
            }else{

                const error = await res.text()
                showError(error)

            }
            
        } catch (error) {
            console.log(`error when decrement in cart${error} `)
        }

    }


    async function removeFromCart(productId){

        try {

            const res = await fetch('/user/cart/remove',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify({productId})
            })

            if(res.ok){
                window.location.href = '/user/cart'
            }else{

                const error = await res.text()

                showError(error)
            }
            
        } catch (error) {
            console.log(`error from remove from cart fetch ${error}`)
        }
    }


   


</script>


<%- include('../admin/adminFooter') %>