<%- include('nav') %>

<!-- need to add discount and percent off -->


<style>

    .rating-star i{
        color: gold;
        text-shadow: 0 0 1px #000;
    }

    .nav-explore-background{
        background-color: #dddbfe;
        padding: 10px 10px 0 10px;
    }

    .filter-btn{
        position: relative;
    }

.filter-panel {
    position: absolute;
    top: 220px; /* Adjusted to position right under the filter button */
    left: 120px;
    z-index: 1000;
    width: 400px;
    display: none;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.selected-filters {
    margin-top: 15px;
}


        .selected-filters .badge {
            margin-right: 5px;
        }

</style>


<div class="container">
    <div class="">
        <div class="text-center nav-explore-background">
            <h1 class="mb-2">ALL COLLECTION</h1>
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" id="filter-btn">Filter</button>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                        <li><a class="dropdown-item" href="#" onclick="applySort('price-high-low')">Price: High to Low</a></li>
                        <li><a class="dropdown-item" href="#" onclick="applySort('price-low-high')">Price: Low to High</a></li>
                        <li><a class="dropdown-item" href="#" onclick="applySort('latest')">Latest Arrival</a></li>
                        <li><a class="dropdown-item" href="#" onclick="applySort('a-z')">A-Z</a></li>
                        <li><a class="dropdown-item" href="#" onclick="applySort('z-a')">Z-A</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="filter-panel" id="filter-panel">
        <span class="close-icon" id="close-filter-panel">&times;</span> <!-- Close icon -->
        <form id="filter-form" method="get" action="/user/explore">
            <div class="mb-3">
                <label class="form-label">Collections</label>
                <div>
                    <input class="form-check-input" type="checkbox" name="collections" value="Headphones" <%= appliedFilters.collections && appliedFilters.collections.includes('Headphones') ? 'checked' : '' %>> Headphones<br>
                    <input class="form-check-input" type="checkbox" name="collections" value="Earphones" <%= appliedFilters.collections && appliedFilters.collections.includes('Earphones') ? 'checked' : '' %>> Earphones<br>
                    <input class="form-check-input" type="checkbox" name="collections" value="Speakers" <%= appliedFilters.collections && appliedFilters.collections.includes('Speakers') ? 'checked' : '' %>> Speakers<br>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Price Range</label>
                <div>
                    <input class="form-control" type="text" placeholder="Min Price" name="minPrice" value="<%= appliedFilters.minPrice %>">
                    <input class="form-control" type="text" placeholder="Max Price" name="maxPrice" value="<%= appliedFilters.maxPrice %>">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Ratings</label>
                <div>
                    <input class="form-check-input" type="checkbox" name="ratings" value="1" <%= appliedFilters.ratings == '1' ? 'checked' : '' %>> 1 Star<br>
                    <input class="form-check-input" type="checkbox" name="ratings" value="2" <%= appliedFilters.ratings == '2' ? 'checked' : '' %>> 2 Stars<br>
                    <input class="form-check-input" type="checkbox" name="ratings" value="3" <%= appliedFilters.ratings == '3' ? 'checked' : '' %>> 3 Stars<br>
                    <input class="form-check-input" type="checkbox" name="ratings" value="4" <%= appliedFilters.ratings == '4' ? 'checked' : '' %>> 4 Stars<br>
                    <input class="form-check-input" type="checkbox" name="ratings" value="5" <%= appliedFilters.ratings == '5' ? 'checked' : '' %>> 5 Stars<br>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Availability</label>
                <div>
                    <input class="form-check-input" type="checkbox" name="availability" value="in-stock" <%= appliedFilters.availability === 'in-stock' ? 'checked' : '' %>> In Stock<br>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="apply-filters">Apply Filters</button>
        </form>
        
    </div>
    

    <div class="row mt-5 mx-auto ms-5">
        <% product.forEach(function(item) { %>
            <div class="col-md-4 mb-5">
                <div class="product-card d-flex flex-column justify-content-start">
                    <a href="/user/product/<%= item._id %>" class="image-card position-relative atag">
                        <img src="../../<%= item.productImage[0] %>" alt="">
                        <% if(item.productQuantity === 0) { %>
                            <div class="image-card position-absolute opacity-50 bg-black">
                                <h4 class="text-white">Out of stock</h4>
                            </div>
                        <% } %>
                        <% if(item.discount) { %>
                            <span class="discount-tag"><%= item.discount %>% OFF</span>
                        <% } %>
                    </a>
                    <div class="d-flex justify-content-start gap-5 align-items-center">
                        <div>
                            <h5 class="title-container mt-3"><%= item.productName %></h5>
                            <span class="fs-6">
                                <% if (item.discount && item.discountMrp < item.productPrice) { %>
                                    <div>
                                        <span class="text-muted text-decoration-line-through">
                                            <i class="bi bi-currency-rupee"></i><%= item.productPrice %>
                                        </span>
                                        <i class="bi bi-currency-rupee"></i><%= item.discountMrp %>
                                    </div>
                                    <span class="text-danger">(<%= item.discount %>% off)</span>
                                <% } else { %>
                                    <span><i class="bi bi-currency-rupee"></i><%= item.productPrice %></span>
                                <% } %>
                            </span>
                        </div>
                        <div class="mt-3">
                            <div class="rating-star">
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <i class="bi <%= i <= item.averageRating ? 'bi-star-fill' : 'bi-star' %>"></i>
                                <% } %>
                                (<%= item.averageRating %>)
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <a onclick="addToCart('<%= item._id %>','<%= user %>')" class="btn submit-btn">Add to Cart</a>
                                <% if(user && wishlist && wishlist.products.some(product => product.productId.toString() === item._id.toString() )) { %>
                                    <span class="wishlist-heart" id="wishlist-heart">
                                        <i class="bi bi-heart-fill" onclick="addToWishlist('<%= item._id %>','<%= user %>',this)"></i>
                                    </span>
                                <% } else { %>
                                    <span class="wishlist-heart" id="wishlist-heart">
                                        <i class="bi bi-heart" onclick="addToWishlist('<%= item._id %>','<%= user %>',this)"></i>
                                    </span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <%- include('pagination') %>

</div>

<script>
    // Function to handle sorting
    function applySort(sortOption) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sort', sortOption);
        window.location.href = `${window.location.pathname}?${urlParams.toString()}`;
    }

    // Function to handle filter panel toggle
    document.getElementById('filter-btn').addEventListener('click', function() {
        var filterPanel = document.getElementById('filter-panel');
        filterPanel.style.display = filterPanel.style.display === 'none' || filterPanel.style.display === '' ? 'block' : 'none';
    });

    document.getElementById('close-filter-panel').addEventListener('click', function() {
        var filterPanel = document.getElementById('filter-panel');
        filterPanel.style.display = 'none';
    });
</script>

<%- include('../admin/adminFooter') %>
