<%- include('nav') %>

<!-- need to add discount and percent off -->

<div class="container">
    <div>
        <p>
        <a href="/user/home">Home</a>/<a href="/user/explore">Explore</a>
        </p>
    </div>
    <div class="text-center">
        <h1>ALL COLLECTION</h1>
    </div>

    <% for(let i=0; i<product.length; i+=3){%>
    <div class="card-container d-flex justify-content-around my-3">
        <% for(let j=i; j<product.length && j< i+3; j++  ) { %>
            <% if(product[j].productQuantity === 0){ %>
                <div class="product-card d-flex flex-column justify-content-start ">
                    <a href="/user/product/<%= product[j].id %>" class="image-card position-relative">
                        <img src="../../<%= product[j].productImage[0] %>" alt="">
                        <div class="image-card position-absolute opacity-50 bg-black "><h4 class="text-white" >Out of stock</h4></div>
                    </a>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <h5 class="title-container mt-3"><%= product[j].productName %></h5>
                            <h5><i class="bi bi-currency-rupee"></i><%= product[j].productPrice %></h5>
                        </div>
                        
                        <div class="mt-3 d-flex gap-2 align-items-center">
                            <a onclick="addToCart('<%= product[j].id %>','<%= user %>')" class="btn submit-btn">Add to Cart</a>
                                <span class="wishlist-heart" id="wishlist-heart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                    </svg>
                                </span>
                        </div>           
                    </div>
                </div>
            <% }else{ %>
                <div class="product-card d-flex flex-column justify-content-start ">
                    <a href="/user/product/<%= product[j].id %>" class="image-card">
                        <img src="../../<%= product[j].productImage[0] %>" alt="">
                    </a>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <h5 class="title-container mt-3"><%= product[j].productName %></h5>
                            <h5><i class="bi bi-currency-rupee"></i><%= product[j].productPrice %></h5>
                        </div>
                        
                        <div class="mt-3 d-flex gap-2 align-items-center">
                            <a onclick="addToCart('<%= product[j].id %>','<%= user %>')" class="btn submit-btn">Add to Cart</a>
                                <span class="wishlist-heart" id="wishlist-heart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                    </svg>
                                </span>
                        </div>           
                    </div>
                </div>
            <% }%>
        <% } %>
        
    </div>
    <% } %>

</div>



<%- include('../admin/adminFooter') %>