<%- include('nav') %>

<%- include('homeBanner') %>

<div class="mt-3 text-center "><h1>What's Hot</h1></div>

<%- include('productCard') %>

<%- include('bannerFooter') %>

<%- include('collectionList') %>

<%- include('../admin/adminFooter') %>