<%- include('nav') %>

<%- include('homeBanner') %>

<div class="mt-3 text-center "><h1>What's New</h1></div>

<%- include('productCard') %>

<div class="text-center"><a class="btn submit-btn-light" href="/user/explore"><h5>See more</h5></a></div>

<%- include('bannerFooter') %>

<%- include('collectionList') %>

<%- include('../admin/adminFooter') %>