<%- include('nav') %>

<style>
    .card {
        border: 1px solid #ddd;
        margin: 10px;
        transition: transform 0.2s;
    }
    .card:hover {
            transform: translateY(-5px);
        }
    .card-body {
        background-color: #D5D2FF;
        border-radius: 5px;
        font-family: 'Archivo', sans-serif;
        padding: 0.5rem;
    }
    .avatar-lg {
        width: 50px;
        height: 50px;
    }
    .font-size-18 {
        font-size: 1.2em;
    }
    .font-size-16 {
        font-size: 1em;
    }
    .text-truncate {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .mbottom-2 {
        margin-bottom: 0.5rem !important;
    }
    .mtop-2 {
        margin-top: 0.5rem !important;
    }
    .pbottom-3 {
        padding-bottom: 1rem !important;
    }
    .list-inline-item {
        margin-right: 0.5rem;
    }
    .nav-pills .nav-link {
        border: 1px solid #D5D2FF;
        background-color: #ffffff;
        color: #000;
    }
    .nav-pills .nav-link.active {
        background-color: #2b0a5a;
        color: #ffffff;
    }
    .product-item {
        background-color: #ffffff;
        padding: 20px;
        border: 4px solid #D5D2FF;
        border-radius: 5px;
    
    }
    .bi-currency-rupee{
        font-size: 15px;
    }


</style>

<div class="container my-5">
    <div class="row">
        <div class="d-flex">
            <ul class="nav nav-pills flex-row gap-3" id="order-menu" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="order-status-tab" data-bs-toggle="pill" href="#order-status" role="tab" aria-controls="order-status" aria-selected="true">Orders status</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="order-history-tab" data-bs-toggle="pill" href="#order-history" role="tab" aria-controls="order-history" aria-selected="false">Order history</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="canceled-order-tab" data-bs-toggle="pill" href="#canceled-order" role="tab" aria-controls="canceled-order" aria-selected="false">Canceled Orders</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="returned-order-tab" data-bs-toggle="pill" href="#returned-order" role="tab" aria-controls="returned-order" aria-selected="false">Returned Orders</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-8">
            <div class="tab-content" id="order-content">
                <div class="tab-pane fade show active" id="order-status" role="tabpanel" aria-labelledby="order-status-tab">
                    <% if(order.length > 0 && order.some(o => o.status === 'processing' || o.status === 'shipped' ||  o.status === 'returning' )) { %>
                        <% order.filter(o => o.status === 'processing' || o.status === 'shipped' || o.status === 'returning' ).forEach((order) => { %>
                        <div class="card border shadow-none mb-4">
                            <div class="card-body" >
                                <div class="product-list">
                                    <% order.products.forEach((product) => { %>
                                    <div class="product-item d-flex gap-4 align-items-start border-bottom pbottom-3 mb-3">
                                        <div class="me-3" onclick="orderDetails(`<%=order.id%>`)">
                                            <img src="../../<%= product.productId.productImage[0]%>" alt="" class="avatar-lg rounded">
                                            <h5 class="text-truncate font-size-18"><a href='/user/product/<%= product.productId._id %>' class="text-dark"><%= product.productId.productName %></a></h5>
                                        </div>
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <div class="mb-3">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Price: </p>
                                                        <% if(product.discount) {%>
                                                            <h5 class="text-decoration-line-through text-danger"><i class="bi bi-currency-rupee"></i><%= product.price %> </h5>
                                                            <h5 class=""><i class="bi bi-currency-rupee"></i><%= product.discountMrp %></h5>
                                                            
                                                            <%}else{ %>
                                                                <h5 class=""><i class="bi bi-currency-rupee"></i><%= product.price %></h5>

                                                           <% } %>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Quantity: </p>
                                                        <h5><%= product.quantity %></h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Total: </p>
                                                        <h5><i class="bi bi-currency-rupee"></i><%= (product.quantity * product.discountMrp).toFixed(2) %></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Status</p>
                                                <span class="status <%= order.status %>"><%= order.status %></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Total Price</p>
                                                <h5><i class="bi bi-currency-rupee"></i><%= order.totalPrice.toFixed(2) %></h5>
                                                <% if(order.couponDiscount) { %>
                                                <p class="text-muted mbottom-2"><small>Coupon: <i class="bi bi-currency-rupee"></i>-<%= order.couponDiscount.toFixed(2) %></small></p>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Action</p>
                                                <h5><a class="btn submit-btn" id="cancelOrder" data-bs-toggle="modal" data-bs-target="#cancelOrderModal" data-id="<%= order.id %>">Cancel Order</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <div class="card border shadow-none">
                            <div class="card-body empty-body">
                                <h5 class="card-title">Order</h5>
                                <p class="card-text">You don't have any current orders</p>
                            </div>
                        </div>
                    <% } %>
                </div>
                
                <div class="tab-pane fade" id="order-history" role="tabpanel" aria-labelledby="order-history-tab">
                    <% if(order.length > 0 && order.some(o => o.status === 'delivered')) { %>
                        <% order.filter(o => o.status === 'delivered').forEach((order) => { %>
                        <div class="card border shadow-none mb-4">
                            <div class="card-body " >
                                <div class="product-list">
                                    <% order.products.forEach((product) => { %>
                                    <div class="product-item d-flex gap-4 align-items-start border-bottom pbottom-3 mb-3">
                                        <div class="me-3" onclick="orderDetails(`<%=order.id%>`)">
                                            <img src="../../<%= product.productId.productImage[0]%>" alt="" class="avatar-lg rounded">
                                            <h5 class="text-truncate font-size-18"><a href='/user/product/<%= product.productId._id %>' class="text-dark"><%= product.productId.productName %></a></h5>
                                        </div>
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <div class="mb-3">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Price: </p>
                                                        <% if(product.discount) {%>
                                                            <h5 class="text-decoration-line-through text-danger"><i class="bi bi-currency-rupee"></i><%= product.price %> </h5>
                                                            <h5 class=""><i class="bi bi-currency-rupee"></i><%= product.discountMrp %></h5>
                                                            
                                                            <%}else{ %>
                                                                <h5 class=""><i class="bi bi-currency-rupee"></i><%= product.price %></h5>

                                                           <% } %>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Quantity</p>
                                                        <h5><%= product.quantity %></h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Total</p>
                                                        <h5><i class="bi bi-currency-rupee"></i><%= (product.quantity * product.discountMrp).toFixed(2) %></h5>
                                                    </div>
                                                    <div class="mtop-2 d-flex">
                                                        <!-- <a href="" class="btn submit-btn-light"></a> -->
                                                        <button type="button" id="formReviewButton" class="btn submit-btn-light" data-bs-toggle="modal" data-bs-target="#formModalReview" data-id="<%= product.productId._id%>" onclick="loadReview('<%= product.productId._id %>')"><i class="bi bi-pen"></i>Leave Review</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Status</p>
                                                <span class="status <%= order.status %>"><%= order.status %></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Total Price</p>
                                                <h5><i class="bi bi-currency-rupee"></i><%= order.totalPrice %></h5>
                                                <% if(order.couponDiscount) { %>
                                                    <p class="text-muted mbottom-2"><small>Coupon: <i class="bi bi-currency-rupee"></i>-<%= order.couponDiscount.toFixed(2) %></small></p>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Action</p>
                                                <h5><a class="btn submit-btn" id="returnOrder" data-bs-toggle="modal" data-bs-target="#returnOrderModal" data-id="<%= order.id %>">Return Order</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <div class="card border shadow-none">
                            <div class="card-body">
                                <h5 class="card-title">Order History</h5>
                                <p class="card-text">Here you can view your past orders.</p>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="tab-pane fade" id="canceled-order" role="tabpanel" aria-labelledby="canceled-order-tab">
                    <% if(order.length > 0 && order.some(o => o.status === 'cancelled')) { %>
                        <% order.filter(o => o.status === 'cancelled').forEach((order) => { %>
                        <div class="card border shadow-none mb-4">
                            <div class="card-body" >
                                <div class="product-list">
                                    <% order.products.forEach((product) => { %>
                                    <div class="product-item d-flex gap-4 align-items-start border-bottom pbottom-3 mb-3">
                                        <div class="me-3" onclick="orderDetails(`<%=order.id%>`)">
                                            <img src="../../<%= product.productId.productImage[0]%>" alt="" class="avatar-lg rounded">
                                            <h5 class="text-truncate font-size-18"><a href='/user/product/<%= product.productId._id %>' class="text-dark"><%= product.productId.productName %></a></h5>
                                        </div>
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <div class="mb-3">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Price</p>
                                                        <% if(product.discount) {%>
                                                            <h5 class="text-decoration-line-through text-danger"><i class="bi bi-currency-rupee"></i><%= product.price %> </h5>
                                                            <h5 class=""><i class="bi bi-currency-rupee"></i><%= product.discountMrp %></h5>
                                                            
                                                            <%}else{ %>
                                                                <h5 class=""><i class="bi bi-currency-rupee"></i><%= product.price %></h5>

                                                           <% } %>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Quantity</p>
                                                        <h5><%= product.quantity %></h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Total</p>
                                                        <h5><i class="bi bi-currency-rupee"></i><%= (product.quantity * product.discountMrp).toFixed(2) %></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Status</p>
                                                <span class="status <%= order.status %>"><%= order.status %></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Total Price</p>
                                                <h5><i class="bi bi-currency-rupee"></i><%= order.totalPrice %></h5>
                                                <% if(order.couponDiscount) { %>
                                                    <p class="text-muted mbottom-2"><small>Coupon: <i class="bi bi-currency-rupee"></i>-<%= order.couponDiscount.toFixed(2) %></small></p>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <div class="card border shadow-none">
                            <div class="card-body">
                                <h5 class="card-title">Canceled Orders</h5>
                                <p class="card-text">Here you can view your canceled orders.</p>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="tab-pane fade" id="returned-order" role="tabpanel" aria-labelledby="returned-order-tab">
                    <% if(order.length > 0 && order.some(o => o.status === 'returned')) { %>
                        <% order.filter(o => o.status === 'returned').forEach((order) => { %>
                        <div class="card border shadow-none mb-4">
                            <div class="card-body" >
                                <div class="product-list">
                                    <% order.products.forEach((product) => { %>
                                    <div class="product-item d-flex gap-4 align-items-start border-bottom pbottom-3 mb-3">
                                        <div class="me-3" onclick="orderDetails(`<%=order.id%>`)">
                                            <img src="../../<%= product.productId.productImage[0]%>" alt="" class="avatar-lg rounded">
                                            <h5 class="text-truncate font-size-18"><a href='/user/product/<%= product.productId._id %>' class="text-dark"><%= product.productId.productName %></a></h5>
                                        </div>
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <div class="mb-3">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Price</p>
                                                        <% if(product.discount) {%>
                                                            <h5 class="text-decoration-line-through text-danger"><i class="bi bi-currency-rupee"></i><%= product.price %> </h5>
                                                            <h5 class=""><i class="bi bi-currency-rupee"></i><%= product.discountMrp %></h5>
                                                            
                                                            <%}else{ %>
                                                                <h5 class=""><i class="bi bi-currency-rupee"></i><%= product.price %></h5>

                                                           <% } %>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Quantity</p>
                                                        <h5><%= product.quantity %></h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mtop-2 d-flex">
                                                        <p class="text-muted mbottom-2">Total</p>
                                                        <h5><i class="bi bi-currency-rupee"></i><%= (product.quantity * product.discountMrp).toFixed(2) %></h5>
                                                    </div>
                                                    <div class="mtop-2 d-flex">
                                                        <button type="button" id="formReviewButton" class="btn submit-btn-light" data-bs-toggle="modal" data-bs-target="#formModalReview" data-id="<%= product.productId._id%>" onclick="loadReview('<%= product.productId._id %>')"><i class="bi bi-pen"></i>Leave Review</button>                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Status</p>
                                                <span class="status <%= order.status %>"><%= order.status %></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Total Price</p>
                                                <h5><i class="bi bi-currency-rupee"></i><%= order.totalPrice %></h5>
                                                <% if(order.couponDiscount) { %>
                                                    <p class="text-muted mbottom-2"><small>Coupon: <i class="bi bi-currency-rupee"></i>-<%= order.couponDiscount.toFixed(2) %></small></p>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-4">
                                            <div class="mtop-2">
                                                <p class="text-muted mbottom-2">Action</p>
                                                <h5><a href="" class="btn submit-btn">Add Review</a></h5>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <div class="card border shadow-none">
                            <div class="card-body">
                                <h5 class="card-title">Returned Orders</h5>
                                <p class="card-text">Here you can view your returned orders.</p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-xl-4 payment-pending">
            <h1>Pending Payment</h1>
            <% if(order.length > 0 && order.some(o => o.status === 'pending')) { %>
                <% order.filter(o => o.status === 'pending').forEach((order) => { %>
                <div class="card border shadow-none mb-4">
                    <div class="card-body">
                        <div class="product-list">
                            <% order.products.forEach((product) => { %>
                            <div class="product-item d-flex align-items-start border-bottom pbottom-3 mb-3">
                                <div class="me-3" onclick="orderDetails(`<%=order.id%>`)">
                                    <img src="../../<%= product.productId.productImage[0]%>" alt="" class="avatar-lg rounded">
                                </div>
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <div class="mb-3">
                                        <h5 class="text-truncate font-size-18"><a href='/user/product/<%= product.productId._id %>' class="text-dark"><%= product.productId.productName %></a></h5>
                                    </div>
                                    
                                </div>
                            </div>
                            <% }) %>
                            <div class="row">
                                
                                <div class="d-flex justify-content-between">
                                    <div class="mtop-2">
                                        <p class="text-muted mbottom-2">Total Price</p>
                                        <h5><i class="bi bi-currency-rupee"></i><%= order.totalPrice %></h5>
                                    </div>
                                    <div class="mtop-2">
                                        <p class="text-muted mbottom-2">Action</p>
                                        <div class="d-flex gap-2">
                                           <div>
                                            <a onclick="retryPayment(`<%= order.id %>`)" class="btn submit-btn">Retry Payment</a>
                                           </div>
                                           <div>
                                            <a href="/user/removeOrder/<%= order.id %>" class="btn submit-btn">Remove</a>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            <% } else { %>
                <div class="card border shadow-none">
                    <div class="card-body empty-body">
                        <h5 class="card-title">Payment Pending</h5>
                        <p class="card-text">You don't have any pending payments</p>
                    </div>
                </div>
            <% } %>
        </div>

    </div>
</div>

<!-- Cancel Order Modal -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelOrderModalLabel">Cancel Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="cancelReason" class="form-label">Reason for Cancellation</label>
                        <textarea class="form-control" id="cancelReason" rows="3" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a  class="btn submit-btn" id="submitCancelOrder">Confirm</a>
            </div>
        </div>
    </div>
</div>


<!-- order return modal  -->

<div class="modal fade" id="returnOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelOrderModalLabel">Return Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="cancelReason" class="form-label">Reason for Return</label>
                        <textarea class="form-control" id="cancelReason" rows="3" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a  class="btn submit-btn" id="submitReturnOrder">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- review and rating modal -->
 <%- include('addReview') %>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>


// Store active tab in local storage
    const tabLinks = document.querySelectorAll('#order-menu a.nav-link');
        tabLinks.forEach(link => {
            link.addEventListener('shown.bs.tab', function (e) {
                localStorage.setItem('activeTab', e.target.id);
            });
        });

        // Retrieve active tab from local storage
        const activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            const activeTabEl = document.getElementById(activeTab);
            const tab = new bootstrap.Tab(activeTabEl);
            tab.show();
        }


    const orderCancel = document.querySelectorAll('#cancelOrder').forEach((btn)=>{
        btn.addEventListener('click',function(){
            const orderId = this.getAttribute('data-id');
            console.log(orderId)
            document.getElementById('submitCancelOrder').setAttribute('href', `/user/orderCancel/${orderId}`);
        })
    })


    const orderReturn = document.querySelectorAll('#returnOrder').forEach((btn)=>{
        btn.addEventListener('click',function(){
            const orderId = this.getAttribute('data-id')
            document.getElementById('submitReturnOrder').setAttribute('href',`/user/returnOrder/${orderId}`)
        })
    })


    async function retryPayment(orderId){

        try {

            const res = await fetch('/user/retryRazorPay',{
            method: 'POST',
            headers: {
                'Content-Type':'application/json'
            },
            body: JSON.stringify({orderId})
        })

        if(res.ok){

            const retryPaymentData = await res.json()

            const options = {
                    key: 'rzp_test_AIcpmo1LwYwWKt',
                    amount: retryPaymentData.amount,
                    currency: "INR",
                    name: 'HearMe',
                    order_id: retryPaymentData.razorpayOrderId.id,
                    handler: async function(response) {
                        try {

                            
                            
                            const resData = {
                                orderId,
                                razorpayOrderId: response.razorpay_order_id,
                                paymentId: response.razorpay_payment_id,
                            }

                            const payment = await fetch('/user/retryPayment', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(resData)
                            })

                            if(payment.ok){
                                
                                const paymentData = payment.json()

                                window.location.href = '/user/orderSuccess'
                            }

                        } catch (error) {
                            console.log(`handler error ${error}`)
                        }
                    },
                    prefill: {
                        name: retryPaymentData.contactInfo.name,
                        email: retryPaymentData.contactInfo.email,
                        contact: retryPaymentData.contactInfo.phone
                    },
                    notes: {
                        address: retryPaymentData.address
                    },
                    theme: {
                        color: "#3399cc"
                    },
                    "modal": {
                        "ondismiss": function () {
                             window.location.href = '/user/orders'
                             }
                            }

                }
                const rzp1 = new Razorpay(options);

                rzp1.on('payment.failed', async function (response){


                    showError('Payment Failure')

                })

                rzp1.open()


        }else{
            
            const error = await res.text()
            showError(error)

        }
            
        } catch (error) {
            console.log(`error from retyr paymment fetch ${error}`)
        }

    }

    function orderDetails(orderId){
        console.log(orderId)
        window.location.href = `/user/orderDetails/${orderId}`
    }

</script>



<%- include('../admin/adminFooter') %>
