<%- include('nav') %>

<style>
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }
    .text-reset {
        --bs-text-opacity: 1;
        color: inherit!important;
    }
    .table td, .table th {
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
    }
    .table tfoot td {
        border-top: none;
    }
</style>

<div class="container-fluid">
    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0">Order #<%= order.id %></h2>
        </div>
        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <% let date = new Date(order.createdAt) %>
                                <span class="me-3">Order Date : <%= date.getDate()%>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %></span>
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <tbody>

                                <% let subTotal = 0;
                                let discount = 0 ;
                                order.products.forEach((product)=> { 
                                     subTotal += product.price * product.quantity
                                     discount += product.discountMrp * product.quantity
                                    %>

                                <tr>
                                    <td>
                                        <div class="d-flex mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../<%= product.productId.productImage[0] %>" width="50" class="img-fluid">
                                            </div>
                                            <div class="flex-lg-grow-1 align-content-center ms-3">
                                                <h6 class="large mb-0"><b><%= product.productId.productName %></b></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td><%= product.quantity %></td>
                                    <td class="text-end"><i class="bi bi-currency-rupee"></i><%= product.price * product.quantity %></td>
                                </tr>

                                <% }) %>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-start">Subtotal</td>
                                    <td class="text-end"><i class="bi bi-currency-rupee"></i><%= subTotal.toFixed(2) %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-start">Discount On Price</td>
                                    <td class="text-end text-danger"><i class="bi bi-currency-rupee"></i>-<%= (subTotal - discount).toFixed(2) %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-start">Coupon Discount</td>
                                    <td class="text-danger text-end"><i class="bi bi-currency-rupee"></i>-<%= order.couponDiscount.toFixed(2) %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-start">Shipping</td>
                                    <td class="text-end text-success"><i class="bi bi-currency-rupee"></i>+ <%= order.totalPrice < 500 ? (100.00).toFixed(2) : 0.00.toFixed(2) %></td>
                                </tr>
                                
                                <tr class="fw-bold">
                                    <td colspan="2" class="text-start">TOTAL</td>
                                    <td class="text-end"><i class="bi bi-currency-rupee"></i><%= order.totalPrice.toFixed(2) %></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Payment Method</h3>
                                <p><% if(order.paymentMethod === 'razor-pay'){ %>
                                    status: <% if(order.paymentDetail.paymentStatus==='Pending') {%>
                                        <span class="text-secondary" >Pending</span>
                                        <%}else {%>
                                            <span class="text-success" >Success</span>
                                            <%} %>
                                <% }%>
                                </p>
                                <p><%= order.paymentMethod %> <br>Total: <%= order.totalPrice %></p>
                                
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Billing address</h3>
                                <address>
                                    <%= order.address.addressLine %><br>
                                    <%= order.address.city %><br>
                                    <%= order.address.state %><br>
                                    <%= order.address.pincode %><br>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Contact Information</h3>
                        <hr>
                        <!-- <h3 class="h6">Address</h3> -->
                        <address>
                            <%= order.contactInfo.name %><br>
                            <%= order.contactInfo.email %><br>
                            <%= order.contactInfo.phone %><br>
                        </address>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Order Status</h3>
                        <hr>
                            <div class="d-flex justify-content-between">
                                <span class="status <%=order.status %>"><%=order.status %></span>
                            <% if(order.status === 'delivered' || order.status === 'returned') {%>
                                <span class="btn submit-btn" onclick="downloadInvoice(`<%= order.id %>`)"><i class="bi bi-download"></i> Invoice</span>
                            <% } %>
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>

    async function downloadInvoice(orderId){
        try {

            const res = await fetch(`/user/downloadInvoice/${orderId}`)
            if(!res.ok){
                throw new Error('Network response was not ok');
            }

            const blob = await res.blob();
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = `invoice_${orderId}.pdf`;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url); // Clean up the URL object

        } catch (error) {
            console.log(`error from  download invoice fetch ${error}`)
        }
    }

</script>

<%- include('../admin/adminFooter') %>
