<%- include('nav') %>

<style>

.fa-user-circle {
    color: #007bff;
}

.card {
    border: 1px solid #ddd;
    margin: 10px;
   
}

.card-body{
    background-color: #D5D2FF;
    border-radius: 5px;
    font-family: 'Archivo',sans-serif;

}

.profile-container{
    background-color: #D5D2FF;
    padding: 20px;
}

.address-card {
    background-color: #ffffff;
    padding: 20px;
    border: 4px solid #D5D2FF;
    border-radius: 5px;
}


.card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.card-text {
    margin-bottom: 1em;
}

.editAddressModal, .addAddressModal, .editProfileModal{
    background-color: #F0F0F0;
    border: 5px solid #D5D2FF;
}

.password-container{
    background-color: #ffffff;
    border: 5px solid #D5D2FF;
}



</style>

<div class="container p-5 m-5">
    <div class="row">
        <div class="col-md-3 profile-container">
            <div class="text-center">
                <h1>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                      </svg>
                </h1>
                <h4 class="mt-3"><%= user.name %></h4>
                <p><%= user.phone %></p>
                <p><%= user.email %></p>
                <p data-bs-toggle="modal" onclick="populateProfile('<%= user.name%>','<%= user.phone%>', '<%= user.email %>')" data-bs-target="#editProfileModal"><i class="bi bi-pencil-square"></i></p>
            </div>
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-addresses-list" data-bs-toggle="list" href="#list-addresses" role="tab">Addresses</a>
                <a class="list-group-item list-group-item-action" id="list-change-password-list" data-bs-toggle="list" href="#list-change-password" role="tab">Change Password</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active address-card" id="list-addresses" role="tabpanel" aria-labelledby="list-addresses-list">
                    <h4>Manage Addresses</h4>
                    <% user.address.forEach((address,index)=> { %>
                    <div class="card mb-3">
                        <div class="card-body  d-flex justify-content-between">
                            <div>
                                <h5 class="card-title"><b><%= address.addressType %></b></h5>
                                <h5><%= address.addressLine %></h5>
                                <h5><%= address.city %></h5>
                                <h5><%= address.state %></h5>
                                <h5><%= address.pincode %></h5>
                            </div>
                            <div class="d-flex gap-2">
                                <a data-bs-toggle="modal" data-bs-target="#editAddressModal"
                                    onclick="populateEditModal('<%= address.addressType %>','<%= address.addressLine %>', '<%= address.city %>', '<%= address.state %>', '<%= address.pincode %>', '<%= index %>')">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a><i class="bi bi-trash3"></i></a>
                            </div>
                        </div>
                    </div>
                    <% })  %>
                    <button class="btn submit-btn" data-bs-toggle="modal" data-bs-target="#addAddressModal">Add New Address</button>
                </div>
                <div class="tab-pane fade password-container p-5" id="list-change-password" role="tabpanel" aria-labelledby="list-change-password-list">
                    <h4>Change Password</h4>
                    <form action="/user/passwordChange" method="post">
                        <div class="mb-3">
                            <label for="current-password" class="form-label">Current Password</label>
                            <input type="password" name="currentPass" class="form-control form-input" id="current-password">
                        </div>
                        <div class="mb-3">
                            <label for="new-password" class="form-label">New Password</label>
                            <input type="password" name="password" class="form-control form-input" id="new-password">
                        </div>
                        <div class="mb-3">
                            <label for="confirm-password" class="form-label">Confirm New Password</label>
                            <input type="password" name="confirmPass" class="form-control form-input" id="confirm-password">
                        </div>
                        <button type="submit" class="btn submit-btn">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- edit Address Modal  -->

<div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content editAddressModal">
            <div class="modal-header">
                <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="editAddressForm">
                    <div class="mb-3">
                        <label for="address-type" class="form-label">Address Type</label>
                        <div>
                            <select name="addressType" id="edit-address-type" class="form-input form-control">
                                <option value="" disabled>Select</option>
                                <option value="Home">Home</option>
                                <option value="Work">Work</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address-line" class="form-label">Address Line</label>
                        <input type="text" name="addressLine" class="form-control form-input" id="address-line">
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" name="city" class="form-control form-input" id="city">
                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input type="text" name="state" class="form-control form-input" id="state">
                    </div>
                    <div class="mb-3">
                        <label for="zip" class="form-label">Pincode</label>
                        <input type="text" name="pincode" class="form-control form-input" id="zip">
                    </div>
                    <button type="submit" class="btn submit-btn">Save</button>
                    <button type="button" class="btn submit-btn-light" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- add new address modal -->
<div class="modal fade" id="addAddressModal">
    <div class="modal-dialog">
        <div class="modal-content addAddressModal">
            <div class="modal-header">
                <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/user/addAddress" method="post">
                    <div class="mb-3">
                        <label for="address-type" class="form-label">Address Type</label>
                        <div>
                            <select name="addressType" id="address-type" class="form-input form-control">
                                <option value="" selected disabled  >Select</option>
                                <option value="Home">Home</option>
                                <option value="Work">Work</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address-line" class="form-label">Address Line</label>
                        <input type="text" name="addressLine" class="form-control form-input" id="address-line">
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" name="city" class="form-control form-input" id="city">
                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input type="text" name="state" class="form-control form-input" id="state">
                    </div>
                    <div class="mb-3">
                        <label for="zip" class="form-label">Pincode</label>
                        <input type="text" name="pincode" class="form-control form-input" id="zip">
                    </div>
                    <button type="submit" class="btn submit-btn">Save</button>
                    <button type="button" class="btn submit-btn-light" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- edit profile modal -->

<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content editProfileModal">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/user/updateProfile" method="post" id="editProfileForm" >
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" name="name" class="form-control form-input" id="name-profile">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control form-input" id="email-profile" disabled>
            </div>
            <div class="mb-3">
              <label for="number" class="form-label">Phone Number</label>
              <input type="text" name="phone" class="form-control form-input" id="number-profile">
            </div>
            <button type="submit"  class="btn submit-btn">Save</button>
            <button type="button" class="btn submit-btn-light" data-bs-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>



  <script>


function populateEditModal(addressType, addressLine, city, state, zip, index) {
    document.getElementById('edit-address-type').value = addressType;
    document.getElementById('address-line').value = addressLine;
    document.getElementById('city').value = city;
    document.getElementById('state').value = state;
    document.getElementById('zip').value = zip;

    document.getElementById('editAddressForm').setAttribute('action', `/user/editAddress/${parseInt(index)}`);
}

function populateProfile(name,phone,email){
    document.getElementById('name-profile').value = name
    document.getElementById('number-profile').value = phone
    document.getElementById('email-profile').value = email
}


function validateForm(form) {
    const inputs = form.querySelectorAll('input, select');
    for (const input of inputs) {
        if (!input.value.trim()) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Please fill in all fields.',
            });
            return false;
        }
    }
    return true;
}

function validatePasswordForm() {
    const currentPass = document.getElementById('current-password').value.trim();
    const newPassword = document.getElementById('new-password').value.trim();
    const confirmPass = document.getElementById('confirm-password').value.trim();

    if (!currentPass || !newPassword || !confirmPass) {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Please fill in all fields.',
        });
        return false;
    }

    if (newPassword !== confirmPass) {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'New Password and Confirm New Password do not match.',
        });
        return false;
    }

    return true;
}

document.getElementById('editAddressForm').addEventListener('submit', function(event) {
    if (!validateForm(this)) {
        event.preventDefault();
    }
});

document.getElementById('addAddressModal').querySelector('form').addEventListener('submit', function(event) {
    if (!validateForm(this)) {
        event.preventDefault();
    }
});

document.getElementById('passwordChangeForm').addEventListener('submit', function(event) {
    if (!validatePasswordForm()) {
        event.preventDefault();
    }
});


  </script>




<%- include('../admin/adminFooter') %>